{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      devDependencies: [
        'karma.conf.js',
        'rollup.config.js',
        'examples/rollup.config.js'
      ]
    }]
  }
}
